<div>
  <a class="btn btn-info" [routerLink]="['add']"><span class="glyphicon glyphicon-plus"> Add</span></a><br/>
  <!-- <table class="table">
    <tr>
      <td>
        <h3>Kode Peserta</h3>
      </td>
      <td>
        <h3>Kode Angkatan</h3>
      </td>
      <td>
          <h3>Aksi</h3>
      </td>
    </tr>
    <tr *ngFor="let item of dataTampil">
      <td>
        <h4>{{item.KdPeserta}}</h4>
      </td>
      <td>
        <h4>{{item.KdAngkatan}}</h4>
      </td>
      <td>
        <a class="btn btn-success" [routerLink]="['./detail/'+item._id]"><span class="glyphicon glyphicon-search"></span></a>
        <a class="btn btn-info" [routerLink]="['./edit/'+item._id]"><span class="glyphicon glyphicon-pencil"></span></a>
        <button class="btn btn-danger" type="button" (click)="jejakPesertaDelete(item._id)"><span class="glyphicon glyphicon-trash"></span></button>
      </td>
    </tr>
  </table>
</div> -->

<div class="row">
<div class="col-xs-11">
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Ruang Inap Table</h3>

    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th>No</th>
        <th>Kode Ruang Inap</th>
        <th>Nama Ruang Inap</th>
        <th>Aksi</th>
        <!-- <th>Reason</th> -->
      </tr>
      <tr *ngFor="let item of dataTampil">
        <td>1</td>
        <td>{{item.KdRuangInap}}</td>
        <td>{{item.NamaRuangInap}}</td>
        <td>
          <a class="btn btn-success" [routerLink]="['./detail/'+item._id]"><span class="glyphicon glyphicon-search"></span></a>
          <a class="btn btn-info" [routerLink]="['./edit/'+item._id]"><span class="glyphicon glyphicon-pencil"></span></a>
          <button class="btn btn-danger" type="button" (click)="ruangInapDelete(item._id)"><span class="glyphicon glyphicon-trash"></span></button>
        </td>
        <!-- <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
      </tr>
    </table>
  </div>
</div>
</div>
</div>