<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Bootcamp System</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <!-- <a [routerLink]="['/aksestoko']">
        <i class="glyphicon glyphicon-user"></i> <span>Akses Toko</span>
        <span class="pull-right-container">
        </span>
        </a> -->
      </li>
      <li>
        <a>
        <i class="glyphicon glyphicon-home"></i> <span>Home</span>
        <span class="pull-right-container">
        </span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/diagnosa']">
        <i class="glyphicon glyphicon-star"></i> <span>Diagnosa</span>
        <span class="pull-right-container">
        </span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/diagnosadetail']">
        <i class="glyphicon glyphicon-user"></i> <span>Diagnosa Detail</span>
        <span class="pull-right-container">
        </span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/ruanginap']">
        <i class="glyphicon glyphicon-user"></i> <span>Ruang Inap</span>
        <span class="pull-right-container">
        </span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>