
<!-- /.box -->
<!-- general form elements disabled -->
<div class="col-xs-11">
  <div class="box box-warning">
<div class="box-header with-border">
  <h3 class="box-title">Update Diagnosa</h3>
</div>
<!-- /.box-header -->
<div class="box-body">
  <form role="form">
  <!-- text input -->
  <div class="form-group">
      <label>Kode Diagnosa</label>
      <input [(ngModel)]="dataEdit.KdDiagnosa" name="kodeDiagnosa" type="text" class="form-control">
  </div>
  <div class="form-group">
      <label>Kode Pasien</label>
      <input [(ngModel)]="dataEdit.KdPasien" name="kodePasien" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Kode Rumah Sakit</label>
    <input [(ngModel)]="dataEdit.KdRumahSakit" name="kodeRS" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Kode Dokter</label>
    <input [(ngModel)]="dataEdit.KdDokter" name="kodeDokter" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Keterangan Diagnosa</label>
    <input [(ngModel)]="dataEdit.KetDiagnosa" name="ketDiagnosa" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Kode Perawatan</label>
    <input [(ngModel)]="dataEdit.KdPerawatan" name="kodePerawatan" type="text" class="form-control">
  </div>
  <div class="form-group">
      <label>Tanggal Diagnosa Awal</label>
      <div class="input-group date">
          <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
          </div>
          <input [(ngModel)]="dataEdit.TglDiagnosaAwal" name="tanggal" type="text" class="form-control pull-right" id="datepicker">
      </div>
  </div>
  <div class="form-group">
      <label>Kode Perawat</label>
      <input [(ngModel)]="dataEdit.KdPerawat" name="KdPerawat" type="text" class="form-control">
  </div>
  <div class="box-footer">
          <button type="submit" class="btn btn-default" (click)="diagnosaBack()">Cancel</button>
          <button type="submit" class="btn btn-info pull-right" (click)="putDiagnosa(dataEdit._id)">Update</button>        
  </div>        
</form>
</div>
<!-- /.box-body -->
</div>
</div>
<script>
$(function () {
    //Initialize Select2 Elements
  $(".select2").select2();
  $('#datepicker').datepicker({
      autoclose: true
  });
});
</script>